.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.add {
    /* Remove width, margin, and other styles specific to the modal content */
    color: var(--light-text);
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-img-upload img {
    width: 120px;
}

.add-product-name .add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: 120px;
    padding: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

label img[src*="assets/upload_area"] {
    filter: var(--upload);
}
