.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

:root .h2we {
    color: white;
}

/* Remove filter from h2 elements in lightcolors theme */
.lightcolors .h2we {
    color: black
}
/* FoodDisplay.css */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style-type: none; /* This removes the bullet points */
    margin-top: 30px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    cursor: not-allowed;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
